.inner {
    width: min(90%,var(--container-width));
    margin: 0 auto;
    background-color: white;
}

.title {
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 1em;
    text-wrap:none;
}

.media { /*横並び*/
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.image {
    aspect-ratio: 1/1;
    width: min(200px, 40%);
    object-fit: cover;
    border-radius: 50%;
}

.text {
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my {
    margin: 0;
    padding: 0;
    text-align: left;
}


.description {
    
}