.about {
    width: 100%;
}

.media { /*横並び*/
    max-width: var(--container-width);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 50px;
}

.image {
    width: 25%;
    height: 180px;
    object-fit: cover;
    border-radius: 5%;
}

.title {
    text-align: center;
}

.lead {
    text-align: center;
}

.description {
    text-align: center;
}