* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #f0f2f5; */
    color: #333;
    line-height: 1.6;
}

.container {
    width: min(1100px, 100%);
    margin: 0 auto;
}

/* ナビゲーションバー */

.navbar {
    background-color: #ffffff;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    /* background-color: red; */
}
.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 100;
    color: #555;
    transition: all 0.3s ease;
}
.navbar a:hover {
    color: #007bff;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    text-decoration: none;
    font-size: 2rem;
    text-shadow: 1px 1px 20px rgb(233, 196, 196);
    color: white;
}
.nav-links {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
}
.nav-links li {
    margin: 0 40px;
}


/* ------------プロフィール部分------------ */
.main-content {
    margin-top:1rem ;
    /* background-color: red; */
}
.profile-card {
    background: white;
    display: flex; 
    overflow: hidden;
    /* background-color: red; */
    width: 100%;
    align-items: flex-start;
}
.image-area {
    flex: 0 0 320px;
    border: 1px solid black;
}
.profile-img {
    width: 320px;
    height: 320px;
    object-fit: cover; 
    object-position: center;
}

.text-area {
    flex: 2;
    /* padding:1rem; */
    padding-left: 1rem;
}

/* --------contact.html--------- */

.contact h1 {
    margin: 0;
    padding: 0;
}

.contact p {
    padding: 0;
    margin: 0;
}

.contact .subtitle {
    text-align: right;
    padding-bottom: 0.5rem;
}

.contact .contact-card {
    background-color: rgb(255, 255, 255);
}

.contact .contact-form {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.contact .form-label {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact .form-textarea {
    margin: 0 0 0.5rem 0;
}

.contact .form-button {
    width: 10%;
    margin-left: 0 0 0 auto;
}

.contact .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact .inbox {
    display: flex;
    flex-direction: column;
}



/* ---------fotter---------- */
.footer {
    margin: 1rem 0;
    box-shadow:  0 -2px 4px rgba(0,0,0,0.1);
    text-align: right;
}