* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
}

/* ナビゲーションバー */
.navbar {
    background-color: #ffffff;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    height:5rem;
}
.nav-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.nav-logo{
    text-decoration: none;
    font-size: 2rem;
}

.nav-links {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
}
.nav-links li {
    margin-left: 20px;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

/* プロフィール部分 */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px); /* 画面中央に配置 */
    padding: 20px;
}
.profile-card {
    background: white;
    max-width: 800px;
    display: flex; /* 横並びにする */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.image-area {
    flex: 1;
    background-color: #2c3e50;
}
.profile-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover; 
    object-position: center;
}

.text-area {
    flex: 1.5;
    padding: 40px;
}

.tags span {
    display: inline-block;
    background: #e1e8ed;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    margin-right: 5px;
    margin-top: 10px;
}