.main {
  background-color: rgb(233, 235, 253);
}

.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.heroImg {
  width: 100%;
  height: 100%;
  display: block;
}

.heroText {
  position: absolute;
  bottom: 0%;
  color: whitesmoke;
  background-color: rgba(80, 80, 80, 0.5);
  
}

.heroText h1 {
  font-size: 6rem;
}

/* ----------------- */
.greet {
  width: 70%;
  margin: 5rem auto; 
  display: flex;
  justify-content: center;
  gap: 10rem;
  background-color: beige;
}

.greetImg {
  width: 220px;
  height: auto;
  border-radius: 50%;
  margin: 1rem;
}

.greetText {
  width: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.greetText p {
  padding-top: 1rem;
}
.greetText a {
  text-align: right;
  margin-top: auto;
  align-self: flex-end;
  color: blue;
  transition: 0.1s;
}
.greetText a:hover {
  font-size: large;
}

/* ----------------- */

.works {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.worksCard {
  font-size:x-large ;
  box-shadow: 0 5px 10px;
  padding: 1rem 5rem;
  transition: 0.1s;
}
.worksCard p{
  color: red;
}
.worksCard:hover {
  transform: translateY(-5px);
  color:red;
}

/* ----------------- */
.footer {
  text-align: right;
  padding: 1rem 2rem 0.5rem 0;
  background-color: cornflowerblue;
}
.footer h2 {
  padding-bottom: 5px;
}
.footerLinks {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.footerLinks a {
  padding: 5px;
}

