.main {
  background-color: rgb(233, 235, 253);
}

.hero {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.heroImg {
  width: 100%;
  height: 100%;
  display: block;
}

.heroText {
  position: absolute;
  bottom: 0%;
  color: whitesmoke;
  background-color: rgba(80, 80, 80, 0.5);
  
}

.heroText h1 {
  font-size: 6rem;
}


/* ----------------- */

.greet {
  width: 80%;
  margin: 5rem auto; 
  display: flex;
  justify-content: center;
  gap: 3rem;
  background-color: aliceblue;
}

.greetImg {
  width: 220px;
  height: auto;
  border-radius: 50%;
}

.greetText {
  width: 40%;
  padding: 1rem ;
}

.greetText p {
  padding-top: 1rem;
}