/* グローバルCSS的な */

*,
*::before,
*::after { /*基本*/
  box-sizing: border-box;
}

html,/*念のため*/
body {
  margin: 0;
  padding: 0;
}

body {/*フォント最低限*/
  font-family: system-ui, sans-serif;
}

ul { /*ulの点はいらない*/
  list-style: none;
  margin: 0;
  padding: 0;
}

a { /*リンクの下線を消して、フォント色は親要素を引き継ぐ*/
  text-decoration: none;
  color: inherit;
}