
.inner {
    width: min(90%,var(--container-width));
    height: 60vh; /*画像の高さ*/
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display:flex;
    align-items: center;
}

.heroImage {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    object-position: center 30%;
}

.overlay { /*画像にカバーをかける感じ（後で削除するかも）*/
    position: absolute;
    inset: 0; /*全方向、端まで広げる*/
    background: rgba(0, 0, 0, 0.55);
}

.content {
    position: relative;
    z-index: 1;/*画像内文字を最前列に*/
    color:#fff ;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left {
    margin: 0;
    font-size: 2rem; /*1rem = 16px*/
    letter-spacing: 0.3em;
    font-weight: 500;
    padding-left: 1.5em;
}

.right {
    margin: 0;
    font-size: 2rem; /*1rem = 16px*/
    letter-spacing: 0.3em;
    font-weight: 500;
    padding-right: 1.5em;
}

/* Mobile */
@media (max-width:768px) {

    .inner {
        max-width: 100%;
    }

    .content {
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        text-align: center;
    }

    .left,
    .right {
        padding-left:0 ;
        padding-right:0 ;
        font-size: 1.4rem;
        letter-spacing: 0.15rem;
    }
}