.container{
    padding:2rem ;
    font-family: 'Segoe UI', Tahoma , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #fefefe;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
}

.heading{
    color:#333;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.paragraph{
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    color: #444;
}