.container{
    padding:1rem 3rem ;
    font-family: 'Segoe UI', Tahoma , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    background-color: #fefefe;
    border-radius: 2px;
    
    /*↓プロフ画像と自己紹介文を横並びにする部分*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    flex-wrap: wrap;/*画面が狭い時は折り返す*/
}


.image{
    width: 350px;
    height: 300px;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.5);

    
}

.textArea{
    max-width: 600px;
    background-color:whitesmoke;
    border-radius: 5%;
}

.heading{
    color:#333;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.paragraph{
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    color: #444;
    letter-spacing: 0.06em;
    line-height: 1.8; /* ← 行間調整 */
}