.top{
    padding:1rem ;
    font-family: 'Segoe UI', Tahoma , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    background-color: #fefefe;
    border: 2px solid #470404;
    border-radius: 2px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

.title{
    text-align: center;
    color: black;
}


/* スマホ用 */

@media (max-width: 768px) {
    .top{
        padding: 0.5rem;
        overflow-x:auto;
    }
    .title {
        font-size:clamp(1rem,5vw,2rem);
        white-space: nowrap;
        overflow: hidden;
    }
}